html, body {
	margin:0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
.heading {
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #2F3132;
	margin-bottom: 20px;
}
.text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #2F3132;
	margin-bottom: 0;
}
.text-margin {
	margin-left: 34px;
	margin-right: 33px;
}
.top {
	background-color: #E0E1E2;
	padding-bottom: 48px;
}
.header {
	height: auto;
	position:relative;
	padding-top: 25px;
	z-index: 100;
}
.header__logo {
	width: 130px;
}
.logo-margin {
	display: block;
    margin-left: calc(50% - 65px);
    margin-right: calc(50% - 65px);
}
.logo-white-link {
	padding-top: 25px;
}
.menu {
	position: relative;
	width: 100%;
	height: 599px;
	background-color: #2F3132;
	position:absolute;
	left: -100vw;
	top:0;
	transition: left 0.5s;
}
.menu__mobile {
	margin-left: 26px;
	margin-right: 28px;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mobile__nav-link {
	text-decoration: none;
	color: #C4C4C4;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	padding-bottom: 32px;
}
.mobile__nav-link:last-child {
	padding-bottom: 0;
}
.mobile__nav-link:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
#toggler {
	display: none;
}
#toggler:checked ~ .menu {
	left: 0;
}
.burger-icon {
	width: 31px;
	height: 20px;
}
.close-icon {
	width: 25px;
	height: 25px;
}
.header__menu-open {
	position: absolute;
	top: 25px;
	right: 28px;
}
.header__menu-close {
	position: absolute;
	top: 27px;
	right: 28px;
}

.desktop__nav-link {
	text-decoration: none;
	color: #FFFFFF;
}
.menu__desktop {
	display: none;
}
.top__img {
	margin-top: 94px;
	height: 230px;
	background-image: url("img/MX-Master 1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 67px;
}
.top__svg {
	width: 42px;
	height: 22px;
}
.top__arrow {
	margin-top: 40px;
}
.bluetooth__svg {
	width: 18px;
	height: 34px;
}
.center-content {
	display: flex;
	justify-content: center;	
}
.top__text-margin{
	margin-left: 59px;
	margin-right: 59px;
}
.bluetooth {
	background-color: #EDEDED;
	padding-top: 42px;
	padding-bottom: 18px;
}
.bluetooth__icon {
	margin-bottom: 27px;
}
.bluetooth__img {
	height: 288px;
	background-image: url("img/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}
.bluetooth__heading {
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	color: #C4C4C4;
	margin-top: 31px;
}
.info {
	background-color: #FFFFFF;
	padding-top: 70px;
	padding-bottom: 63px;
}
.info__heading{
	font-size: 14px;
	line-height: 16px;
}
.info__content {
	margin-top: 30px;
	margin-bottom: 28px;
	display: flex;
	justify-content: center;
	gap: 6px;
}
.info__item{
	border: 1px solid #2F3132;
	flex-basis: 166px;
	min-height: 94px;
	padding-left: 18px;
	padding-right: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info__item-heading {
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #2F3132;
	margin-bottom: 5px;
}
.info__text {
	margin-left: 67px;
	margin-right: 61px;
}
.carousel {
	margin-bottom: 20px;
}
.info__carousel-inner {
	margin-bottom: 28px;
}
.info__indicators {
	position: relative;
	justify-content: space-around;
	margin-left: 17px;
	margin-right: 16px;
}
.carousel-control-next, .carousel-control-prev {
	position: relative;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
	opacity: 1;
}
.carousel-control-prev-icon {
    background-image: url(img/arrow-left.svg);
	background-size: 13px;
	background-position-x: right;
}
.carousel-control-next-icon {
    background-image: url(img/arrow-right.svg);
	background-size: 13px;
	background-position-x: left;
}
.info__indicators [data-bs-target] {
	width: 30px;
    height: 30px;
	border-top: none;
	border-bottom: none;
	background-size: contain;
	margin-right:0;
	margin-left: 0;
}
.info__btn1 {
	background-image: url(img/wood-texture.png);
} 
.info__btn2 {
	background-image: url(img/glass-texture.png);
} 
.info__btn3 {
	background-image: url(img/linoleum-texture.png);
} 
.info__btn4 {
	background-image: url(img/cloth-texture.png);
} 
.info__btn5 {
	background-image: url(img/marble-texture.png);
} 
.info__carousel-btn {
	background-repeat: no-repeat;
	background-position: center;
}
.flow {
	padding-top: 70px;
	padding-bottom: 219px;
	background: #EDEDED;
	background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}
.flow__ol {
	margin-top: 36px;
	padding-left: 54px;
}
.flow-text {
	margin-bottom: 23px;
	text-align: left;
	width: 224px;
}
.settings {
	background-color: #EDEDED;
	padding-top: 70px;
}
.settings__slider__img {
	display: none;
}
.settings__slider {
	margin: 35px 22px 95px 23px;
}
.settings__content {
	background-color: #C4C4C4;
	padding: 23px 22px 26px 29px;
}
.settings__icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.text-settings {
	color: #FFFFFF;
	margin-left: 5px;
	margin-right: 11px;
}
.ergonomics {
	padding-top: 70px;
	padding-bottom: 70px;
}
.ergonomics__text {
	padding-bottom: 20px;
}
.ergonomics__img {
	background-image: url("img/image 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 310px;	
}
.mouse__text {
	padding-bottom: 20px;
}
.mouse__img {
	background-image: url("img/image 2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 310px;
}
.footer{
	background: #2F3132;
	height: 75px;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	line-height: 8px;
	text-align: center;
	color: #C7C8C8;
	padding-top: 22px;
}
@media (min-width: 768px){
	.top {
    	padding-bottom: 80px;
	}
	.header {
		padding-top: 64px;
	}
	.menu {
		height: 1165px;
	}	
	.header__menu-open, .header__menu-close {
		top: 64px;
	}
	.header__logo {
		width: 240px;
	}
	.logo-margin {
		margin-left: calc(50% - 120px);
		margin-right: calc(50% - 120px);
	}
	.logo-white-link {
		padding-top: 64px;
	}
	.menu__mobile {
		padding-left: calc(50% - 318px);
		padding-right: calc(50% - 318px);
	}
	.mobile__nav-link {
		font-size: 40px;
		line-height: 47px;
		padding-bottom: 59px;
	}	
	.top__img {
		margin-top: 160px;
    	height: 514px;
		margin-bottom: 124px;
	}
	.heading {
		font-size: 40px;
    	line-height: 47px;
		margin-bottom: 30px;
	}
	.text {
		font-size: 24px;
    line-height: 28px;
	}
	.top__text-margin{
		margin-left: 154px;
		margin-right: 155px;
	}
	.top__svg {
		width: 61px;
		height: 33px;
	}
	.top__arrow {
    margin-top: 76px;
	}	
	.bluetooth{
		padding-top: 80px;
    padding-bottom: 0;
	}
	.bluetooth__icon {
    margin-bottom: 39px;
	}
	.text-margin {
    margin-left: 77px;
    margin-right: 77px;
	}
	.bluetooth__heading {
		font-size: 150px;
    line-height: 176px;
		margin-top: 76px;
	}
	.bluetooth__img {
    height: 597px;
		margin-left: 39px;
		margin-right: 19px;
	}
	.info {
		padding-bottom: 61px;
	}
	.info__text {
    margin-left: 77px;
    margin-right: 77px;
	}
	.info__content {
    margin-top: 50px;
    margin-bottom: 50px;
		gap: 30px;
	}
	.info__item {
		flex-basis: 300px;
		min-height: 170px;
	}
	.info__item-heading {
		margin-bottom: 5px;
	}
	.info__heading {
		font-size: 24px;
    line-height: 28px;
	}
	.carousel {
		margin-bottom: 23px;
	}
	.info__carousel-inner{
		margin-bottom: 50px;
	}
	.info__indicators {
		margin-left: 245px;
		margin-right: 245px;
	}
	.info__indicators [data-bs-target] {
		width: 40px;
		height: 40px;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		background-size: 17px;
	}
	.flow {
		padding-left: 64px;
		padding-right: 65px;
		padding-bottom: 498px;
	}
	.flow-text-p {
		margin-left: 0;
		margin-right: 0;
	}
	.flow__ol {
		display: flex;
		list-style-position: inside;
		padding-left: 0;
	}
	.flow-text {
		width: auto;
		padding: 8px 21px 4px 28px;
		border-left: 1px solid #494949;
		font-size: 20px;
    line-height: 23px;
	}
	.flow-text:first-child {
		border-left: none;
		padding-left: 0;
	}
	.flow-text:last-child {
		padding-right: 0;
	}
	.settings {
		padding-bottom: 70px;
	}
	.settings__slider {
    margin: 54px 198px 150px;
	}
	.settings__content, .settings__heading,.settings__text-p  {
		margin-left: 64px;
		margin-right: 65px;
	}
	.settings__icons {
		margin-right: 104px;
		margin-left: 98px;
	}
	.settings__img {
		height: 35px;
	}
	.text-settings {
		font-size: 20px;
		line-height: 23px;
	}
	.text-ergonomics {
		margin-left: 0;
		margin-right: 0;
	}
	.ergonomics__text {
		padding-left: 67px;
		padding-right: 65px;
		padding-bottom: 50px;
	}
	.mouse__text {
		padding-bottom: 50px;
	}
	.mouse__heading {
		padding-left: calc(50% - 176px);
		padding-right: calc(50% - 176px);
	}
	.text-mouse {
		padding-left: 67px;
		padding-right: 65px;
	}
	.ergonomics__img, .mouse__img {
		height: 549px;
	}
	.ergonomics__img {
		background-image: url("img/image\ 1_894.png");
	}
	.mouse__img {
		background-image: url("img/image\ 2_894.png");
	}
	.footer {
		font-size: 14px;
		line-height: 16px;
		height: 150px;
		padding-top: 47px;
	}
}
@media (min-width: 1024px) {
	.center {
		padding-left: calc(50% - 580px);
		padding-right: calc(50% - 580px);		
	}
	.heading {
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 35px;
	}
	.text {
		font-size: 20px;
		line-height: 23px;
	}
	.top {
		padding-top: 100px;
	}
	.header {
		position: fixed;
		top:0;
		width: 100%;
		display:flex;
		align-items: center;
		padding-top: 0;
		height: 100px;
	}
	.menu {
		left: 0;
		height: auto;
		display: flex;
		justify-content: space-between;
		padding-top: 28px;
		padding-bottom: 27px;
	}
	.menu__desktop {
		display: flex;		
		align-items: center;
	}
	.nav-bar {
		list-style-type: none;
		display: flex;
	}
	.nav-item {
		border-right: 1px solid #494949;
		padding-left: 21px;
		padding-right: 21px;
	}
	.nav-item:first-child {
		padding-left: 0;
	}
	.nav-item:last-child {
		padding-right: 0;
		border-right: none;
	}
	.menu__mobile {
		display: none;
	}
	.header__menu-open {
		display: none;
	}
	.header__menu-close {
		display: none;
	}
	.logo-dark-link {
		display: none;
	}
	.logo-white-link {
		display: block;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;		
	}
	.header__logo {
		width: 150px;
	}
	.desktop__nav-link {
		color: #FFFFFF;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		border-bottom: none;		
	}
	.desktop__nav-link:hover {
		color: #FFFFFF;
		text-decoration:none;
		border-bottom: 1px solid #FFFFFF;
		padding-bottom: 7px;
	}
	.top__img {
		margin-top: 20px;
		margin-bottom: 8px;
		padding-top: 80px;
		background-image: url(img/MX-Master.png);
		height: 671px;
	}
	.top__arrow {
		margin-top: 49px;
	}
	.bluetooth__svg {
		width: 21px;
		height: 40px;
	}
	.bluetooth__img {
		height: 426px;
		background: url("img/High_Resolution_PNG-MX Master 3 FRONT GRAPHITE 1.png") no-repeat 0 119px, 
		url("img/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 2.png") no-repeat right 119px;
		margin-left: 0;
		margin-right: 0;
	}
	.bluetooth {
		padding-bottom: 69px;
	}
	.center_bluetooth {
		padding-left: calc(50% - 622px);
		padding-right: calc(50% - 622px);
	}
	.bluetooth__heading {
		margin-top: 14px;
	}
	.bluetooth__heading_day {
		font-size: 300px;
		line-height: 352px;
		padding-left: 75px;
	}
	.bluetooth__heading_day-mini {
		padding-top: 45px;
	}
	.bluetooth__heading {
		font-size: 96px;
		line-height: 112px;
		display: flex;
		justify-content: center;
	}
	.info {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.info__text {
		width: 765px;
		margin: auto;
	}
	.info__item {
		min-height: 140px;
		padding-left: 24px;
		padding-right: 24px;
	}
	.info__item-heading {
		margin-bottom: 5px;
	}
	.info__slider {
		padding-left: calc(50% - 640px);
		padding-right: calc(50% - 640px);
	}
	.text_info {
		width: 765px;
		margin: auto;
	}
	.flow {
		padding-bottom: 870px;
	}
	.flow_center {
		padding-left: calc(50% - 479px);
		padding-right: calc(50% - 479px);
	}
	.flow__ol {
		margin-left: 15px;
	}
	.settings {
		padding-bottom: 100px;
	}
	.settings__slider {
		display: none;
	}
	.settings__text-p {
		width: 958px;
		margin: auto;
	}
	.settings__slider__img {
		display: flex;
    	justify-content: center;
    	padding-top: 71px;
	}
	.settings__content {
		width: 749px;
		margin: auto;
	}
	.ergonomics_center, .mouse_center {
		padding-left: calc(50% - 655px);
		padding-right: calc(50% - 655px);
	}
	.ergonomics__item, .mouse__item {
		height: 557px;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.ergonomics {
		display: flex;
		flex-flow: row-reverse;
		padding-top: 100px;
		padding-bottom: 0;
	}
	.ergonomics__img {
		background-image: url("img/image 1_desctop.png");
	}
	.ergonomics__text {
		padding-right: 217px;
	}
	.ergonomics__text .heading{
		text-align: left;
	}
	.ergonomics__text .text {
		text-align: left;
	}
	.mouse {
		display: flex;
		padding-bottom: 100px;
	}
	.mouse__img {
		background-image: url("img/image 2_desktop.png");
	}
	.text-mouse {
		padding-left: 0;
		padding-right: 0;
	}
	.mouse__text {
		padding-right: 31px;
		padding-left: 278px;
	}
	.mouse__text .heading{
		text-align: right;
		padding-left:0;
		padding-right: 0;
	}
	.mouse__text .text {
		text-align: right;
		margin-left: 0;
		margin-right: 0;
	}

}