body {
	font-family: 'Roboto', sans-serif;
}
.heading {
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #2F3132;
	margin-bottom: 20px;
}
.text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #2F3132;
	margin-bottom: 0;
}
.text-margin {
	margin-left: 34px;
	margin-right: 33px;
}
.top {
	background-color: #E0E1E2;
	padding-top: 25px;
	padding-bottom: 48px;
}
.top__img {
	margin-top: 94px;
	height: 230px;
	background-image: url("img/MX-Master 1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 67px;
}
.top__arrow {
	margin-top: 40px;
}
.center-content {
	display: flex;
	justify-content: center;	
}
.top__text-margin{
	width: 70%;
	margin: auto;
}
.bluetooth {
	background-color: #EDEDED;
	padding-top: 42px;
	padding-bottom: 18px;
}
.bluetooth__icon {
	margin-bottom: 27px;
}
.bluetooth__img {
	height: 288px;
	background-image: url("img/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}
.bluetooth__heading {
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	color: #C4C4C4;
	margin-top: 31px;
}
.info {
	background-color: #FFFFFF;
	padding-top: 70px;
	padding-bottom: 63px;
}
.info__heading{
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #2F3132;
}
.info__content {
	margin-top: 30px;
	margin-bottom: 28px;
	display: flex;
	justify-content: center;
	gap: 6px;
}
.info__item{
	border: 1px solid #2F3132;
	flex-basis: 166px;
	min-height: 94px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info__item-heading {
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #2F3132;
	margin-bottom: 5px;
}
.info__text {
	margin-left: 67px;
	margin-right: 61px;
}
.carousel {
	margin-bottom: 100px;
}
.flow {
	padding-top: 70px;
	padding-bottom: 219px;
	background: #EDEDED;
	background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}
.flow__ol {
	margin-top: 36px;
	padding-left: 54px;
}
.flow-text {
	margin-bottom: 23px;
	text-align: left;
	width: 224px;
}
.settings {
	background-color: #EDEDED;
	padding-top: 70px;
}
.settings__slider {
	margin: 35px 22px 95px 23px;
}
.settings__content {
	background-color: #C4C4C4;
	padding: 23px 22px 26px 29px;
}
.settings__icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.text-settings {
	color: #FFFFFF;
	margin-left: 5px;
	margin-right: 11px;
}